/* google font added */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.banner-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(68, 67, 67);
}

header {
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container {
  width: 85%;
  max-width: 1370px;
  display: flex;
  justify-content: right;
}

.banner-container .banner-text {
  max-width: 446px;
  padding: 200px 0;
}

.banner-title {
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: right;
  font-size: 55px;
}

.banner-container button {
  border-radius: 5px;
  background: rgb(241, 91, 34);
  border: none;
  color: white;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
}

.btn-div {
  text-align: right;
}

.banner-text * {
  margin-bottom: 25px;
}

/* failures-years-section styles */
.failures-years-section {
  width: 65%;
  max-width: 1050px;
  margin: 120px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.left-failures img {
  /* width: 100%; */
  height: 600px;
}

.right-failures ul li {
  list-style: none;
}

.fa-solid {
  color: rgb(22, 216, 135);
  margin-right: 10px;
}

.right-failures h1 {
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
  font-size: 40px;
}

.right-failures p {
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0;
  color: #444343;
}

.right-failures ul {
  color: #444343;
}

/* my plans section styles */
.my-plans-container {
  width: 70%;
  margin: 100px auto;
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.my-plans-container h1 {
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  font-size: 32px;
}

/* positive-mindset section styles */

.positive-mindset-container {
  width: 71%;
  margin: 100px auto;
  background-image: 
  linear-gradient(to left, rgb(241, 91, 34, 0.01),rgba(241, 91, 34, 0.93)),
  url("../images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  border-radius: 8px;
}

.positive-mindset-container h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 321px;
  color: #FFFFFF;
}

.positive-mindset-container button {
  color: #f15b22;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 15px 30px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  border: none;
  font-size: 16px;
}

